.page-home {
  background-image: url('../images/programming.svg');
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center 40px;
  @include media-breakpoint-up(sm) {
    background-size: 35%;
    background-position: 90% 100px;
  }
  @include media-breakpoint-up(md) {
    background-size: 40%;
    background-position: 90% 75px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 30%;
    background-position: 75% 100px;
  }
}
